body {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

h1 {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #009ad9;
    padding: 20px 0;
    font-size: 25px;
}

h2 {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    text-align: center;
    color: rgb(150, 150, 150);
    border-bottom: 2px solid black;
}

@page {
    margin-top: 2mm;
    margin-bottom: 2mm;
    margin-left: 5mm;
    margin-right: 5mm;
}

.columnaI {
    width: 140mm;
    float: left;
}

.columnaD {
    margin-left: 10px;
    padding-left: 10px;
    float: right;
    width: 140mm;
}

.mini-titulo {
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
}

.descripciones {
    background-color: rgb(217, 217, 217);
}

.texto {
    border: 2px solid rgb(0, 176, 240);
}

.imagen {
    border: 1px solid black; 
}

.imagenp {
    background-size: cover;
    
}

.info {
    background-color: rgb(243, 243, 243);
    font-size: 12px;
}

.informacion-incripciones {
    padding-left: 5px;
}

.centros {
    text-align: center;
    color: black;
    font-size: 8pt;
    font-weight: bold;
    display: inline;
    text-decoration: underline;
}

.centro {
    font-size: 7pt;
    width: 33%;
    float: left;
}

.horario {
    color: rgb(77, 77, 77);
    padding: 1px;
    font-size: 10px;
    font-style: italic;
}

.img-tlf {
    height: 8px;
}

.categoria {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}

.enfasis {
    font-style: italic;
    font-weight: bold;
}



.logo {
    text-align: center;
    background-color:rgb(0, 62, 129);
    color: white;
}

.logo-centro {
    font-size: 10px;
    width: 33%;
    float: left;
}

.izq {
    text-align: left;
}

.der {
    text-align: right;
}

/*.fijo-derecha {
    position:absolute;
    right: 0mm; 
    bottom: 0mm;
    width: 140mm;    you must specify a width 
}*/

.descripcion {
    min-height: 50mm;
}

.contenido {
    min-height: 80mm;
}