.envoltorio {
    border-style: solid;
    border-width: 2px;
}

.envo_nombre {
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
}

.nombre {
    border: 2px solid black;
    font-size: 25px;
}

.encabezado {
    background-color: rgb(53, 102, 181);
    color: white;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.texto {
    margin-left: 10px;
}