div.horizontal {
    overflow: auto;
    max-width: 100%;
}

#tabla {
    width: 100%;
    white-space: nowrap;
}

.th {
    align-items: center;
}

.aire {
    background-color: #006039;
    color: white;
}

.aire:hover {
    background-color: #cbe2d0;
    color: #006039;
}

.musica {
    background-color: #0099d8;
    color: white;
}

.musica:hover {
    color: #0099d8;
    background-color: #c8e1f8;
}

.imagen {
    background-color: #db3128;
    color: white;
}

.imagen:hover {
    color: #db3128;
    background-color: #f8c8b8;
}

.habilidades {
    background-color: #dab61e;
    color: white;
}

.habilidades:hover {
    color: #dab61e;
    background-color: #f6e7c2;
}

.formacion {
    background-color: #0c4370;
    color: white;
}

.formacion:hover {
    color: #0c4370;
    background-color: #b2b8ce;
}

.ocio {
    background-color: #ec6d23;
    color: white;
}

.ocio:hover {
    color: #ec6d23;
    background-color: #f08a50;
}

.desconocido {
    color: #f8e9e9;
    background-color: #830b6f;
}

.desconocido:hover {
    color: #000000;
    background-color: gray;
}

.certamen {
    color: white;
    background-color: #a7a523;
}

.certamen:hover {
    color: #a7a523;
    background-color: #c7c5be;
}

td a {
    color: white;
}

/* ESTILOS PIE DE PÁGINA */

#myFooter {
    background-color: #373a48;
    color: white;
}

#myFooter .footer-copyright {
    background-color: #373a48;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    margin: 0;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .myCols {
    text-align: center;
}

#myFooter .social-networks {
    text-align: center;
}

#myFooter .social-networks a {
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

/* ESTILO DE SLIDER CHECK */

/* .slideThree */

.slideThree {
    width: 80px;
    height: 26px;
    background: #333;
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.slideThree:after {
    content: 'NO';
    color: rgb(255, 0, 0);
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}

.slideThree:before {
    content: 'SI';
    color: #27ae60;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
}

.slideThree label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfff4), color-stop(40%, #dfe5d7), to(#b3bead));
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.slideThree input[type=checkbox] {
    visibility: hidden;
}

.slideThree input[type=checkbox]:checked+label {
    left: 43px;
}

/* end .slideThree */

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
    .footer {
        background-color: #373a48;
    }
    .myCols {
        text-align: center;
        background-color: #373a48;
    }
    #myFooter .social-networks {
        background-color: #373a48;
    }
}

/* Botón para subir */

.go-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.go-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Otros */

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/* Calendario */

.calendario-fijo {
    position: fixed;
    top: 1em;
    right: 2em;
    text-decoration: none;
    color: #fff;
    padding: 1em;
}

.calendario-fijo:hover {
    color: rgba(25, 88, 9, 0.8);

}
.nuevo_prueba{
    color:blue;
}
.nuevo_prueba{
    color:blue;
}